.App {
  text-align: center;
  margin-top: 2em;
}

.country-list {
}

.country {
  height: 250px;
  width: 700px !important;
}

.color {
  color: palevioletred;
}

.selected-countries {
  background-color: paleturquoise;
  padding-bottom: 1em;
}
.selected-country {
}
.validate-button {
  /*position: fixed;
  width: 450px;
  height: 50px;
  bottom: 10px;
  right: 0;
  background-color: paleturquoise;*/
}

.right-panel {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  height: 100vh;
}
