.App {
  text-align: center;
  margin-top: 2em;
}

.country-list {
}

.country {
  margin: 0.75em !important ;
}

.color {
  color: palevioletred;
}

.selected-countries {
  background-color: paleturquoise;
  padding-bottom: 1em;
  width: 100%;
}
.selected-country {
  margin: 0.25em !important;
}
.validate-button {
  margin: 1em;
}

.right-panel {
  position: fixed !important;
  top: 0;
  right: 0;
  border: 0;
  height: 100vh;
}
.send-button {
  margin-top: 1em !important;
}

.email-input {
  width: 80%;
}

.message-box {
  margin-top: 3em !important;
}

.loading {
  height: 100vh;
}

.flag-image {
}
